<!DOCTYPE html>
<html lang="en">
	<head th:replace="fe/layout/head::head" ></head>
	<body>
		<!-- HEADER -->
		<header th:replace="fe/layout/header::header" ></header>
		<!-- /HEADER -->

		<!-- NAVIGATION -->
		<nav th:replace="fe/layout/navigation::navigation" ></nav>
		<!-- /NAVIGATION -->

		<!-- SECTION -->
		<div th:replace="fe/layout/section::section"></div>
		<!-- /SECTION -->
	<div th:replace="fe/layout/newproduct::newproduct" ></div>
		<!-- SECTION -->
		
		<!-- /SECTION -->

		<!-- HOT DEAL SECTION -->
		<div  th:replace="fe/layout/hotdeal::hotdeal"></div>
		<!-- /HOT DEAL SECTION -->

		<!-- SECTION -->
		<div th:replace="fe/layout/topselling::topselling"></div>
		<!-- /SECTION -->

		<!-- SECTION -->
		<div th:replace="fe/layout/listcategory::listcategory"></div>
		<!-- /SECTION -->

		<!-- NEWSLETTER -->
		<div th:replace="fe/layout/newsletter::newsletter	"></div>
		<!-- /NEWSLETTER -->

		<!-- FOOTER -->
		<footer th:replace="fe/layout/footer::footer"></footer>
		<!-- /FOOTER -->

		<!-- jQuery Plugins -->
	<div th:replace="fe/layout/js::js"></div>

	</body>
</html>
