user-login-area {
  overflow: hidden;
  background: #fff;
}

.login-title h2 {
  color: #202020;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 15px;
  padding-bottom: 10px;
  text-transform: capitalize;
  font-family: 'Rufina', serif;
  font-weight: 400;
}

.login-title p {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  line-height: 1.6em;
  font-family: 'Rufina', serif;
  font-weight: 400;
  color: #333;
}

.login-form {
  border: 1px solid rgba(0, 0, 0, 0.12);
  display: inline-block;
  margin-left: 0;
  margin-right: 0;
  padding: 25px 30px;
  width: 100%;
}

.login-form .single-login {
  margin-bottom: 15px;
}

.login-form .single-login label {
  color: #333;
  font-size: 15px;
  font-weight: 400;
  margin-top: 7px;
  display: block;
  font-family: 'Rufina', serif;
  font-weight: 400;
}

.login-form .single-login input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #eceff8;
  padding: 12px 10px;
  width: 100%;
  font-family: 'Rufina', serif;
  font-weight: 400;
}

.login-form .single-login button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #eceff8;
  display: inline-block;
  padding: 10px 43px;
  color: #333;
  text-transform: capitalize;
  text-decoration: none;
  float: left;
  transition: .3s;
  font-family: 'Rufina', serif;
  font-weight: 400;
}

.login-form .single-login button:hover {
  background:#00ABE0;
  color: #fff;
  border: 1px solid #00ABE0;
}

.single-login input#rememberme {
  float: left;
  width: 7%;
  margin-top: 14px;
}

.single-login-2 span {
  float: left;
  margin-top: 10px;
  font-family: 'Rufina', serif;
  font-weight: 400;
  color: #333;
}

.single-login-2 {
  overflow: hidden;
}

.login-form>a {
  color: #00ABE0;
  line-height: 24px;
  margin-bottom: 15px;
  font-size: 14px;
}

/*----------------------------------------*/
/*  23. Register
/*----------------------------------------*/

.single-register {
  margin-bottom: 15px;
  overflow: hidden;
}

.single-register form {}

.single-register form label,
.single-register label {
  color: #333;
  display: block;
  font-size: 16px;
  font-weight: 400;
  margin-top: 7px;
  font-family: 'Rufina', serif;
  font-weight: 400;
}

.single-register form input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #eceff8;
  box-shadow: none;
  color: #333;
  font-size: 14px;
  height: 45px;
  padding-left: 10px;
  width: 100%;
  font-family: 'Rufina', serif;
  font-weight: 400;
}

.single-register .chosen-select {
  height: 45px;
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #eceff8;
  color: #626262;
  font-size: 14px;
  height: 45px;
  padding-left: 10px;
  box-shadow: none;
  text-align: left;
  font-family: 'Rufina', serif;
  font-weight: 400;
}

.single-register input#billing_address_2 {
  margin-top: 15px;
}

.single-register-3 #rememberme {
  float: left;
}

.single-register-3 label {
  float: left;
  margin-top: 0;
  padding-left: 10px;
  font-size: 13px;
  font-family: 'Rufina', serif;
  font-weight: 400;
}

.single-register-3 label a {
  color: #F07C29;
  font-size: 14px;
  text-decoration: none;
  font-family: 'Rufina', serif;
  font-weight: 400;
}

.single-register>a {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #eceff8;
  box-shadow: none;
  color: #626262;
  display: inline-block;
  font-size: 14px;
  margin-top: 6px;
  padding: 12px 48px;
  text-decoration: none;
  transition: .3s;
  font-family: 'Rufina', serif;
  font-weight: 400;
}

.single-register>a:hover {
  background-color: #F07C29;
  color: #fff;
  border: 1px solid #F07C29;
}

.mtb-70 {
  margin: 70px 0;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-18 {
  margin-bottom: 18px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-75 {
  margin-top: 75px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-16 {
  margin-top: 16px;
}

.mtb-100 {
  margin: 100px 0;
}

.mtb-95 {
  margin: 95px 0;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-80 {
  margin-top: 80px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-90 {
  padding-top: 90px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-170 {
  padding-top: 170px;
}

.ptb-20 {
  padding: 20px 0;
}

.ptb-30 {
  padding: 30px 0;
}

.ptb-35 {
  padding: 35px 0;
}

.ptb-50 {
  padding: 50px 0;
}

.ptb-40 {
  padding: 40px 0;
}

.ptb-60 {
  padding: 60px 0;
}

.ptb-70 {
  padding: 70px 0;
}

.ptb-100 {
  padding: 100px 0;
}

.pb-5 {
  padding-bottom: 5px !important;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-140 {
  padding-bottom: 140px;
}

.pb-210 {
  padding-bottom: 210px;
}

.pb-200 {
  padding-bottom: 200px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pt-70 {
  padding-top: 70px;
}

.pl-100 {
  padding-left: 100px;
}

.pl-295 {
  padding-left: 295px;
}

.pl-40 {
  padding-left: 40px;
}

.pt-85 {
  padding-top: 85px;
}

.pt-154 {
  padding-top: 154px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pb-154 {
  padding-bottom: 154px;
}

.pb-180 {
  padding-bottom: 180px;
}

.pb-135 {
  padding-bottom: 135px;
}

.pt-135 {
  padding-top: 135px;
}

.pt-215 {
  padding-top: 215px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-145 {
  padding-bottom: 145px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pt-125 {
  padding-top: 125px;
}

.pt-105 {
  padding-top: 105px;
}

.pt-95 {
  padding-top: 95px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-130 {
  padding-bottom: 130px;
}

.pb-225 {
  padding-bottom: 225px;
}

.bg-img {
  background-position: center center;
  background-size: cover;
}
.centscreener {
  display: flex;
  justify-content: center; /* Căn giữa theo chiều ngang */
  align-items: center;     /* Căn giữa theo chiều dọc */
          /* Chiều cao của toàn màn hình */
}

.entry-header-area,
.cart-main-area {
    overflow: hidden;
}

.entry-header-title h2 {
    font-weight: 400;
    color: #333;
    font-family: 'Rufina', serif;
    font-weight: 400;
}

.entry-header-area {
    padding-bottom: 20px;
}

.entry-header-area .ntry-header-title h2 {
    font-size: 20px;
    margin: 0;
    text-transform: uppercase;
    font-family: 'Rufina', serif;
    font-weight: 400;
}

.table-content table {
    background: #fff none repeat scroll 0 0;
    border-color: #e5e5e5;
    border-radius: 0;
    border-style: solid;
    border-width: 1px 0 0 1px;
    margin: 0 0 50px;
    text-align: center;
    width: 100%;
}

.table-content table th,
.table-content table td {
    border-bottom: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}

.table-content table th {
    border-top: medium none;
    font-weight: normal;
    padding: 20px 10px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
    color: #333;
}

.table-content table {
    text-align: center;
}

.table-content table td {
    border-top: medium none;
    font-size: 13px;
    padding: 20px 10px;
    vertical-align: middle;
    font-family: 'Rufina', serif;
    font-weight: 400;
}

.table-content table td.product-thumbnail {
    width: 130px;
}

.table-content table td.product-name a {
    color: #6f6f6f;
    font-size: 14px;
    font-weight: 700;
    margin-left: 10px;
    text-decoration: none;
    font-family: 'Rufina', serif;
    font-weight: 400;
    color: #333;
}

.table-content table td.product-price {
    width: 130px;
}

.table-content table td.product-quantity {
    width: 180px;
}

.table-content table td input {
    background: #e5e5e5 none repeat scroll 0 0;
    border: medium none;
    border-radius: 3px;
    color: #6f6f6f;
    font-size: 18px;
    font-weight: normal;
    height: 40px;
    padding: 0 5px 0 10px;
    width: 60px;
    font-family: 'Rufina', serif;
    font-weight: 400;
}

.table-content table td.product-subtotal {
    font-size: 14px;
    font-weight: bold;
    width: 120px;
    font-family: 'Rufina', serif;
    font-weight: 400;
}

.table-content table .product-price .amount {
    font-size: 15px;
    font-weight: 700;
    color: #333;
}

.table-content table td.product-remove {
    width: 150px;
}

.table-content table td.product-remove i {
    color: #919191;
    display: inline-block;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 40px;
}

.buttons-cart ul li {
    display: inline-block;
}

.btn.btn-sqr,
.buttons-cart ul li a,
.coupon form a {
    background: #252525 none repeat scroll 0 0;
    border-radius: 0;
    box-shadow: none;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    height: 40px;
    line-height: 40px;
    margin-right: 15px;
    padding: 0 15px;
    text-shadow: none;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    font-family: 'Rufina', serif;
    font-weight: 400;
}

.btn.btn-sqr:hover,
.buttons-cart ul li a:hover,
.coupon form a:hover {
    background: #F07C29 none repeat scroll 0 0;
    color: #fff;
}

.coupon {
    margin-bottom: 40px;
    overflow: hidden;
    padding-bottom: 20px;
}

.coupon h3 {
    font-size: 14px;
    margin: 0 0 10px;
    text-transform: uppercase;
}

.coupon p {
    font-size: 14px;
    color: #777;
    font-family: 'Rufina', serif;
    font-weight: 400;
    color: #333;
}

.coupon form input {
    border: 1px solid #e5e5e5;
    float: left;
    height: 40px;
    margin: 0 6px 20px 0;
    max-width: 100%;
    padding: 0 0 0 10px;
    width: 170px;
    font-family: 'Rufina', serif;
    font-weight: 400;
    color: #333;
}

.coupon form a {
    float: left;
}

.cart_totals {
    float: left;
    text-align: right;
    width: 100%;
}

.cart_totals h2 {
    border-bottom: 2px solid #333;
    display: inline-block;
    font-family: "Rufina", serif;
    font-size: 30px;
    font-weight: 400;
    margin: 0 0 35px;
    text-transform: capitalize;
}

.cart_totals table {
    border: medium none;
    float: right;
    margin: 0;
    text-align: right;
}

.cart_totals table th {
    border: medium none;
    font-size: 14px;
    font-weight: 700;
    padding: 0 20px 12px 0;
    text-align: right;
    text-transform: uppercase;
    vertical-align: top;
    color: #777;
    font-family: 'Rufina', serif;
    font-weight: 400;
    color: #333;
}

.cart_totals table td {
    border: medium none;
    padding: 0 0 12px;
    vertical-align: top;
}

.cart_totals table td .amount {
    color: #ec4445;
    float: right;
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
    text-align: right;
    text-transform: uppercase;
    font-family: 'Rufina', serif;
    font-weight: 400;
}

.cart_totals table td ul#shipping_method {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.cart_totals table td ul#shipping_method li {
    float: left;
    margin: 0 0 10px;
    padding: 0;
    text-indent: 0;
    width: 100%;
    color: #333;
    font-size: 13px;
    font-family: 'Rufina', serif;
    font-weight: 400;
}

.cart_totals table td ul#shipping_method li input {
    margin: 0;
    position: relative;
    top: 2px;
}

.shipping a {
    color: #333;
    font-family: "Rufina", serif;
    font-size: 13px;
    font-weight: 400;
}

.cart_totals table tr.order-total th,
.cart_totals table tr.order-total .amount {
    font-size: 20px;
    text-transform: uppercase;
    white-space: nowrap;
    font-family: 'Rufina', serif;
    font-weight: 400;
}

.cart_totals table td {
    border: medium none;
    padding: 0 0 12px;
    vertical-align: top;
}

.wc-proceed-to-checkout a {
    background: #F07C29 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    height: 50px;
    line-height: 50px;
    margin-top: 20px;
    padding: 0 30px;
    text-transform: uppercase;
    font-family: 'Rufina', serif;
    font-weight: 400;
}

/*----------------------------------------*/
/*  27. Checkout
/*----------------------------------------*/

.coupon-area,
.checkout-area {
    background: #fff;
    overflow: hidden;
}

.different-address {
    margin-top: 30px;
}

.coupon-accordion h3 {
    background-color: #f7f6f7;
    border-top: 3px solid #f07c29;
    color: #333;
    font-family: "Rufina", serif;
    font-size: 14px;
    font-weight: 400;
    list-style: outside none none;
    margin: 0 0 2em;
    padding: 1em 2em 1em 3.5em;
    position: relative;
    width: auto;
}

.coupon-accordion h3::before {
    color: #1e85be;
    content: "";
    display: inline-block;
    font-family: fontawesome;
    left: 1.5em;
    position: absolute;
    top: 1em;
}

.coupon-accordion span {
    color: #6f6f6f;
    cursor: pointer;
    font-family: 'Rufina', serif;
    font-weight: 400;
}

.coupon-accordion span:hover,
p.lost-password a:hover {
    color: #F07C29;
}

.coupon-content {
    border: 1px solid #e5e5e5;
    display: none;
    margin-bottom: 20px;
    padding: 20px;
}

.coupon-info p.coupon-text {
    margin-bottom: 15px;
    color: #333;
}

.coupon-info p {
    margin-bottom: 0;
}

.coupon-info p.form-row-first label,
.coupon-info p.form-row-last label {
    display: block;
}

.coupon-accordion span {
    color: #333;
    cursor: pointer;
    font-family: 'Rufina', serif;
    font-weight: 400;
}

.coupon-info p.form-row-first label span.required,
.coupon-info p.form-row-last label span.required {
    color: #FF1111;
    font-weight: 700;
    font-family: 'Rufina', serif;
    font-weight: 400;
}

.coupon-info p.form-row-first input,
.coupon-info p.form-row-last input {
    border: 1px solid #e5e5e5;
    height: 36px;
    margin: 0 0 14px;
    max-width: 100%;
    padding: 0 0 0 10px;
    width: 370px;
    font-family: 'Rufina', serif;
    font-weight: 400;
}

.buttons-cart input,
.coupon input[type="submit"],
.buttons-cart a,
.coupon-info p.form-row input[type="submit"] {
    background: #252525 none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    color: #fff;
    float: left;
    font-size: 12px;
    font-weight: 700;
    height: 40px;
    line-height: 40px;
    margin-right: 15px;
    padding: 0 15px;
    text-shadow: none;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    white-space: nowrap;
    font-family: 'Rufina', serif;
    font-weight: 400;
}

.form-row>label {
    margin-top: 7px;
}

.coupon-info p.form-row input[type="checkbox"] {
    position: relative;
    top: 2px;
}

p.lost-password {
    margin-top: 15px;
}

p.lost-password a {
    color: #333;
    font-family: 'Rufina', serif;
    font-weight: 400;
}

.coupon-checkout-content {
    display: none;
    margin-bottom: 30px;
}

p.checkout-coupon input[type="text"] {
    height: 36px;
    padding-left: 10px;
    width: 170px;
}

p.checkout-coupon input[type="submit"] {
    background: #333 none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    color: #fff;
    height: 36px;
    margin-left: 6px;
    padding: 5px 10px;
    transition: all 0.3s ease 0s;
    font-family: 'Rufina', serif;
    font-weight: 400;
}

.coupon-info p.form-row input[type="submit"]:hover,
p.checkout-coupon input[type="submit"]:hover {
    background: #F07C29 none repeat scroll 0 0;
}

.coupon-accordion span:hover,
p.lost-password a:hover {
    color: #F07C29;
}

.checkbox-form h3 {
    border-bottom: 1px solid #e5e5e5;
    font-size: 30px;
    margin: 0 0 20px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-family: 'Rufina', serif;
    font-weight: 400;
}

.country-select {
    margin-bottom: 30px;
    position: relative;
}

.country-select label,
.checkout-form-list label {
    color: #333;
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin: 0 0 5px;
    font-family: 'Rufina', serif;
    font-weight: 400;
}

.country-select label span.required,
.checkout-form-list label span.required {
    color: #FF1111;
    font-family: 'Rufina', serif;
    font-weight: 400;
}

.country-select select {
    height: 40px;
    width: 100%;
    border: 1px solid #ddd;
    padding-left: 10px;
    font-size: 13px;
    font-family: 'Rufina', serif;
    font-weight: 400;
}

.checkout-form-list {
    clear: both;
    margin-bottom: 30px;
}

.checkout-form-list input {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e5e5e5;
    border-radius: 0;
    height: 42px;
    padding: 0 0 0 10px;
    width: 100%;
    font-family: 'Rufina', serif;
    font-weight: 400;
}
.checkout-form-list select {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e5e5e5;
    border-radius: 0;
    height: 42px;
    padding: 0 0 0 10px;
    width: 100%;
    font-family: 'Rufina', serif;
    font-weight: 400;
}

.checkout-form-list input::-moz-placeholder,
.order-notes textarea::-moz-placeholder {
    color: #555 !important;
    opacity: 1;
}

.checkout-form-list input::-webkit-input-placeholder,
.order-notes textarea::-webkit-input-placeholder {
    color: #555 !important;
    opacity: 1;
}

.checkout-form-list input#cbox {
    float: left;
    height: 0;
    position: relative;
    width: 2%;
}

.create-acc label {
    float: left;
    width: 80%;
    padding-left: 14px;
}

.create-account p {
    font-size: 13px;
    color: #777;
    font-family: 'Rufina', serif;
    font-weight: 400;
}

.ship-different-title label {
    padding-right: 22px;
    font-size: 19px;
}

.order-notes textarea {
    height: 90px;
    padding: 15px;
    width: 100%;
    color: #333;
}

.your-order {
    background: #f2f2f2 none repeat scroll 0 0;
    padding: 30px 40px 45px;
}

.your-order h3 {
    border-bottom: 1px solid #d8d8d8;
    font-size: 30px;
    margin: 0 0 20px;
    padding-bottom: 10px;
    text-transform: uppercase;
    width: 100%;
    color: #252525;
    font-family: 'Rufina', serif;
    font-weight: 400;
}

.your-order-table table {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    width: 100%;
}

.your-order-table table th {
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
    width: 250px;
}

.your-order-table table th,
.your-order-table table td {
    border-bottom: 1px solid #d8d8d8;
    border-right: medium none;
    font-size: 14px;
    padding: 15px 0;
    text-align: center;
    color: #333;
    font-family: 'Rufina', serif;
    font-weight: 400;
}

.your-order-table table .shipping ul li input {
    position: relative;
    top: 2px;
}

.your-order-table table .shipping th {
    vertical-align: top;
}

.your-order-table table .order-total th {
    border-bottom: medium none;
    font-size: 18px;
}

.your-order-table table .order-total td {
    border-bottom: medium none;
}

.your-order-table table tr.order-total td span {
    color: #ec4445;
    font-size: 20px;
    font-family: 'Rufina', serif;
    font-weight: 400;
}

.panel-default>.panel-heading {
    background: none;
    transition: .3s;
    position: relative;
    padding: 0px;
}

.panel-group .panel {
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 10px;
}

.payment-method {
    margin-top: 40px;
}

.payment-accordion .panel-group .panel {
    background: transparent;
}

.payment-accordion .panel-title a {
    color: #333;
    font-size: 16px;
    padding-left: 25px;
    position: relative;
    text-decoration: none;
    text-transform: capitalize;
    margin-bottom: 10px;
    display: inline-block;
    font-family: 'Rufina', serif;
    font-weight: 400;
}

.payment-accordion .panel-body {
    border-top: medium none !important;
    padding: 0;
}

.payment-accordion .panel-body p {
    font-size: 14px;
    margin-bottom: 0;
    color: #333;
    font-family: 'Rufina', serif;
    font-weight: 400;
}

.payment-accordion .panel-title a img {
    height: 35px;
    margin-left: 15px;
}

.payment-accordion .panel-heading a::before {
    content: "";
    cursor: pointer;
    display: block;
    font-family: fontawesome;
    font-size: 20px;
    left: 0;
    position: absolute;
    top: 0px;
}

.payment-accordion .panel-heading a.collapsed::before {
    content: " ";
}

.payment-accordion .panel-group .panel {
    margin-bottom: 20px;
}

.order-button-payment input:hover {
    background: #e61719 none repeat scroll 0 0;
}

.order-button-payment input {
    background: #ec4445 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    height: 50px;
    margin: 20px 0 0;
    padding: 0;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    width: 100%;
    font-family: 'Rufina', serif;
    font-weight: 400;
}

.your-order {
    margin-bottom: 0px;
}

/*----------------------------------------*/
/*  28. Wishlist
/*----------------------------------------*/

.wishlist-title h2 {
    color: #252525;
    font-size: 30px;
    font-weight: 300;
    font-family: 'Rufina', serif;
    font-weight: 400;
}

.wishlist-table table {
    background: #fff none repeat scroll 0 0;
    border-color: #e8e8e9;
    border-radius: 0;
    border-style: solid;
    border-width: 1px 0 0 1px;
    margin: 20px 0 50px;
    width: 100%;
}

.wishlist-table table th,
.wishlist-table table td {
    border-bottom: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    font-size: 14px;
    padding: 15px 10px;
    text-align: center;
    color: #333;
    font-family: 'Rufina', serif;
    font-weight: 400;
}

.wishlist-table table .product-remove {
    padding: 0 15px;
    width: 20px;
}

.wishlist-table table th {
    font-weight: 600;
}

.wishlist-table table .product-thumbnail {
    width: 150px;
}

.wishlist-table table .product-add-to-cart {
    width: 240px;
}

.wishlist-table table .product-remove {
    padding: 0 15px;
    width: 20px;
}

.wishlist-table table .product-remove>a {
    font-size: 25px;
    color: #333;
    font-family: 'Rufina', serif;
    font-weight: 400;
}

.wishlist-table table .product-remove>a:hover {
    color: #F07C29;
}

.wishlist-table table .product-thumbnail {
    width: 150px;
}

.product-name a {
    color: #333;
    transition: .3s;
    font-family: 'Rufina', serif;
    font-weight: 400;
}

.product-name a:hover {
    color: #F07C29;
}

.wishlist-table table td.product-price .amount {
    font-weight: 700;
}

.wishlist-table table .wishlist-in-stock {
    color: #ec4445;
}

.wishlist-table table .product-add-to-cart {
    width: 240px;
}

.wishlist-table table .product-add-to-cart>a {
    background: #000 none repeat scroll 0 0;
    color: #fff;
    display: block;
    font-weight: 700;
    padding: 10px 56px;
    text-transform: uppercase;
    width: 260px;
    font-family: 'Rufina', serif;
    font-weight: 400;
}

.wishlist-table table .product-add-to-cart>a:hover {
    background: #F07C29 none repeat scroll 0 0;
}
.wishlist-table table .product-add-to-cart > button {
    background: #000 none repeat scroll 0 0;
    color: #fff;
    display: block;
    font-weight: 700;
    padding: 10px 56px;
    text-transform: uppercase;
    width: 260px;
    font-family: 'Rufina', serif;
    font-weight: 400;
    font-size:12px !important
}

.wishlist-table table .product-add-to-cart > button:hover {
    background: #F07C29 none repeat scroll 0 0;
}
.wishlist-share {
    margin: 30px 0;
}

.wishlist-table table .product-remove > button {
    font-size: 25px;
    color: #333;
    font-family: 'Rufina', serif;
    font-weight: 400;
    border: none;
    background:white !important;
}

.wishlist-table table .product-remove > button:hover {
color: #F07C29;
}
.wishlist-share-title {
    color: #252525;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Rufina', serif;
    font-weight: 400;
}

.wishlist-share ul li {
    display: inline-block;
    margin: 0 5px;
}

.wishlist-share ul li a {
    color: #444;
    font-size: 20px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    font-family: 'Rufina', serif;
    font-weight: 400;
}

.wishlist-share ul li a:hover {
    color: #F07C29;
}

/*----------------------------------------*/
/*  29. 404 page
/*----------------------------------------*/

.section-element-area {
    overflow: hidden;
}

.page .entry-header p {
    color: #000;
    font-size: 24px;
    margin-bottom: 0;
    font-family: 'Rufina', serif;
    font-weight: 400;
    font-weight: 400;
}

.page .entry-content p {
    font-size: 15px;
    margin-bottom: 40px;
    color: #333;
}

.page .entry-content a {
    border: 2px solid #aaa;
    color: #333;
    font-weight: 700;
    padding: 10px 30px;
    transition: .3s;
    text-decoration: none;
    font-family: 'Rufina', serif;
    font-weight: 400;
    font-weight: 400;
}

.page .entry-content a:hover {
    background: #F07C29 none repeat scroll 0 0;
    border-color: #F07C29;
    color: #fff;
}

#productModal {
    padding-right: 0 !important;
}

#productModal .modal-dialog {
    margin: 8% auto;
    max-width: 960px;
}

.quickview .modal-header {
    border: medium none;
    padding: 0.625rem;
}

.modal-body {
    padding: 30px 50px;
}

.modal-pro-content h3 {
    color: #333;
    font-family: "Rufina", serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 1;
    margin: 0 0 15px;
    text-transform: capitalize;
}

.modal-pro-content .price {
    margin: 0 0 12px;
}

.modal-pro-content .price>span {
    color: #f07c29;
    font-family: "Rufina", serif;
    font-size: 28px;
    font-style: italic;
    font-weight: 600;
    line-height: 30px;
}

.quickview-color>ul li {
    cursor: pointer;
    display: block;
    float: left;
    height: 25px;
    margin-right: 9px;
    text-indent: -9999px;
    transition: all 0.4s ease 0s;
    width: 25px;
}

.quickview-color>ul li.blue {
    background: #0000FE none repeat scroll 0 0;
}

.quickview-color>ul li.red {
    background: #DC143C none repeat scroll 0 0;
}

.quickview-color>ul li.pink {
    background: #FF017E none repeat scroll 0 0;
}

.quick-view-select {
    display: block;
    margin: 3px 0 20px;
    overflow: hidden;
    padding: 10px 0 0;
}

.select-option-part select {
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
    color: #232323;
    font-size: 15px;
    height: 39px;
    padding: 0 35px 0 5px;
    width: auto;
    background: rgba(0, 0, 0, 0) url("img/icon-img/select.png") no-repeat scroll right 0.5rem center / 2.25rem 2.25rem;
}

.select-option-part>label,
.quickview-color-wrap>label {
    color: #232323;
    display: block;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 0.375rem;
    opacity: 1;
}

.modal-pro-content form button {
    background: #333 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    height: 49px;
    letter-spacing: 0.025em;
    line-height: 49px;
    margin-left: 45px;
    padding: 0 30px;
    text-transform: uppercase;
}

.modal-pro-content form button:hover {
    background: #f07c29 none repeat scroll 0 0;
}

.quickview-color-wrap {
    margin: 15px 0 0;
}

.modal-pro-content input {
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
    color: #232323;
    font-size: 15px;
    height: 49px;
    padding: 0 10px;
    width: 65px;
}

.modal-pro-content>span {
    color: #666;
    font-size: 14px;
    font-weight: 500;
}

.modal-pro-content>span i {
    color: #4cbb6c;
    font-size: 18px;
}

.modal-pro-content>form {
    margin: 0 0 16px;
}

.modal-pro-content>p {
    margin: 0;
}

.quickview-active.owl-carousel .owl-nav button {
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    color: #232323;
    display: inline-block;
    font-size: 16px;
    height: 35px;
    left: -15px;
    line-height: 30px;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 38%;
    transform: translateY(-50%);
    transition: all 0.3s ease 0s;
    width: 35px;
}

.quickview-active.owl-carousel .owl-nav button:hover {
    background-color: #f07c29;
    color: #fff;
}

.quickview-active.owl-carousel .owl-nav button.owl-next {
    left: auto;
    right: -15px;
}

.quickview-active:hover .owl-nav button {
    opacity: 1;
}
/*-------- Start My Account Page Wrapper --------*/
.myaccount-tab-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.myaccount-tab-menu a {
    border: 1px solid #efefef;
    border-bottom: none;
    color: #222222;
    font-weight: 400;
    font-size: 15px;
    display: block;
    padding: 10px 15px;
    text-transform: capitalize;
}

.myaccount-tab-menu a:last-child {
    border-bottom: 1px solid #efefef;
}

.myaccount-tab-menu a:hover,
.myaccount-tab-menu a.active {
    background-color: #f07c29;
    border-color: #c29958;
    color: #fff;
}

.myaccount-tab-menu a i.fa {
    font-size: 14px;
    text-align: center;
    width: 25px;
}